{
  email admin@digitalcubeagency.net
}

app.digitalcubeagency.net {
  encode zstd gzip

  @api path /api/*
  reverse_proxy @api finance-lite-api:4000

  root * /srv/finance-lite/frontend/dist
  try_files {path} /index.html
  file_server
}
