{
  email admin@example.com
}

books.example.com {
  encode zstd gzip

  @api path /api/*
  reverse_proxy @api 127.0.0.1:4000

  root * /var/www/dca-books-lite/frontend/dist
  try_files {path} /index.html
  file_server
}
